In [1]:
# import
# Decide whether to import from website or csv, just learnt some basic webscraping so I still find that interesting and exciting
# I'm going to import from a csv included in the program files
# May be 4 csvs in 1 cvs so extra transformation required

# format is 
# label (what the number actually is) then i*j where j itterates before i (how do I write that again?)
# each row is 785 values with the first being the label

import pandas as pd

raw_test_data = pd.read_csv('../dataset/mnist_test.csv')
raw_training_data = pd.read_csv('../dataset/mnist_train.csv')

raw_test_data.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
rtdt = raw_test_data.transpose()
rtdt.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
label,7,2,1,0,4,1,4,9,5,9,...,7,8,9,0,1,2,3,4,5,6
1x1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1x2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1x3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1x4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0